
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import "tailwindcss";
@theme {
    --color-p-50: #ecfeff;
    --color-p-100: #cefafe;
    --color-p-200: #a2f4fd;
    --color-p-300: #53eafd;
    --color-p-400: #00d3f2;
    --color-p-500: #00b8db;
    --color-p-600: #0092b8;
    --color-p-700: #007595;
    --color-p-800: #005f78;
    --color-p-900: #104e64;
    --color-p-950: #053345;

    --color-n-50: #fafafa;
    --color-n-100: #f5f5f5;
    --color-n-200: #e5e5e5;
    --color-n-300: #d4d4d4;
    --color-n-400: #a1a1a1;
    --color-n-500: #737373;
    --color-n-600: #525252;
    --color-n-700: #404040;
    --color-n-800: #262626;
    --color-n-900: #171717;
    --color-n-950: #0a0a0a;

    --font-chakra: "Chakra Petch", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-caveat: "Caveat", cursive;
    --font-playwrite: "Playwrite DE Grund", cursive;
}
@theme {
    --animate-spins: spins 5s linear infinite;
    @keyframes spins {
        to {
            transform: rotate(360deg);
        }
    }
}
@theme {
    --animate-typing: typing 3s steps(20) infinite alternate, blink .7s infinite;
    --animate-float: float 5s ease-in-out infinite;
    @keyframes float {
        0% {
            transform: translateY(0px); /* Vị trí ban đầu */
        }
        50% {
            transform: translateY(-15px); /* Di chuyển lên 10px */

        }
        100% {
            transform: translateY(0px); /* Trở về vị trí ban đầu */
        }
    }
    @keyframes typing {
        0% {
            width: 0;
            visibility: hidden;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes blink {
        50% {
            border-color: transparent;
        }
        100% {
            border-color: #00d3f2;
        }
    }
}
@layer base {
    html {
        @apply font-roboto
    }
    body{
        @apply bg-[url(/bgmm.jpg)] bg-cover bg-center
    }
}


@utility container{
    /*max-width: 700px;*/
    /*background-color: #fafafa;*/
    /*margin: 150px auto;*/
    /*border-radius: 20px;*/
    /*padding: 30px;*/
    @apply bg-neutral-100/2 shadow-2xl mx-auto max-w-200 mt-45 rounded-xl p-8
}
@utility bg_pt{
    background-image: radial-gradient(rgba(45,221,242,0.2 ) 2px, transparent 2px);
    background-size: 50px 50px;
    background-color: #f5f5f5;
}
@utility nav-item{
    @apply flex items-center gap-3 px-1 sm:px-3 py-3 rounded-xl cursor-pointer font-medium text-n-600
    /*@apply bg-neutral-100/20*/
}
@utility funtion-btn{
    @apply flex justify-center items-center gap-2 py-2 px-4 w-30 transition duration-400 hover:scale-105 rounded-lg hover:bg-p-200 cursor-pointer border-2 border-p-500

}@utility funtion-btn-disable{
    @apply flex justify-center items-center  gap-2 py-2 px-4 w-30 rounded-lg cursor-default  border-2 border-p-500 opacity-30
}

@utility option{
    @apply w-full py-2 px-5 text-left border-1 border-solid rounded-xl border-neutral-300 hover:shadow-md hover:border-sky-400 cursor-pointer
}

@utility option-confirm{
    @apply  bg-sky-200/70 shadow-md border-sky-400
}
@utility result__option{
    @apply w-full py-1 mb-2 px-3 text-left border-1 border-solid rounded-xl border-neutral-300 cursor-default
}
@utility correct_result{
    @apply bg-green-200/50 border-green-400
}
@utility incorrect_result{
    @apply bg-red-200/50 border-red-400
}
@utility correct_question{
    @apply bg-green-50/30 border-green-300 border-1 border-solid
}
@utility incorrect_question{
    @apply  bg-red-50/30 border-red-300 border-1 border-solid
}
@utility pagination-btn{
    @apply px-2 cursor-pointer rounded-md border-b-2 border-b-p-400
}
@utility pagination-btn-active{
    @apply border-2 border-p-400 px-2 cursor-pointer rounded-md bg-p-200
}

